body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

#weather-icon {
    height: 100px;
    width: 200px;
}

.login-container {
    width: 300px;
}

#minTemperature, #maxTemperature {
    margin: 0;
}


