<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>pi4watering</title>
</head>
<body>

<h1>Welcome!</h1>

<p>Pump1:</p>
<button type="button" id="button1">ON</button>
<button type="button" id="button2">OFF</button><br/>
<button type="button" id="button3">Run 4sec</button>

<h2>Väder:</h2>
<p id="temperature"></p>
<p id="clouds"></p>
<p id="summary"></p>
<p id="uptime"></p>

<h2>Senast vattnat:</h2>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/../js/jquery-dateFormat.min.js"></script>
<script src="/../js/pi4watering.js"></script>

</body>
</html>