<html layout:decorator="index"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
</head>

<div layout:fragment="content">

    <table id="pumpruns_list" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Schemalagd</th>
            <th>Pump</th>
            <th>Radera</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="pumprun : ${pumpruns}">
            <td class="message" data-th-text="${pumprun.date}"></td>
            <td class="message" data-th-text="${pumprun.scheduled}"></td>
            <td class="message" data-th-text="${pumprun.pump}"></td>
            <td>
                <a th:href="@{'/pumpruns/{id}/delete'(id=${pumprun.id})}" class="delete" th:attr="name=${pumprun.date}">
            <span class="fa-stack">
                <i class="glyphicon glyphicon-trash"></i>
            </span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script>
        $('#pumpruns_list').DataTable({
            "order": [[0, "desc"]],
            "searching": false,
            "language": {
                "lengthMenu": "Visa _MENU_ träffar per sida",
                "info": "Visar sida _PAGE_ av _PAGES_",
                "paginate": {
                    "first":      "Första",
                    "last":       "Sista",
                    "next":       "Nästa",
                    "previous":   "Föregående"
                }
            }
        });
    </script>
</div>
</html>