<html layout:decorator="index"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">

    <table id="pumpruns_list" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Schemalagd</th>
            <th>Pump</th>
            <th>Radera</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="pumprun : ${pumpruns}">
            <td class="message" data-th-text="${pumprun.date}"></td>
            <td class="message" data-th-text="${pumprun.scheduled}"></td>
            <td class="message" data-th-text="${pumprun.pump}"></td>
            <td>
                <a th:href="@{'/pumpruns/{id}/delete'(id=${pumprun.id})}" class="delete" th:attr="name=${pumprun.date}">
            <span class="fa-stack">
                <i class="glyphicon glyphicon-trash"></i>
            </span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <th:block layout:fragment="script">
        <script th:src="@{/page.js}"></script>


        <script>
                $('#pumpruns_list').DataTable({
                    "order": [[0, "desc"]]
                });
        </script>
    </th:block>
</div>
</html>