<html xmlns:th="http://www.w3.org/1999/xhtml">


    <table id="posts_list">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Schemalagd</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="pumprun : ${pumpruns}">
            <td class="message" data-th-text="${pumprun.date}"></td>
            <td class="message" data-th-text="${pumprun.scheduled}"></td>
            <td class="message" data-th-text="${pumprun.pump}"></td>
        </tr>
        </tbody>
    </table>
</html>