<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>pi4watering - login</title>
</head>
<body>

<div class="container">
    <div class="card card-container">
        <h2>pi4watering</h2>
        <p id="profile-name" class="profile-name-card"></p>

        <form th:action="@{/login}" method="post">
            <span id="reauth-email" class="reauth-email"></span>
            <input name="username" type="text" class="form-control" placeholder="Användarnamn" required="" autofocus=""/>
            <input name="password" type="password" class="form-control" placeholder="Lösenord" required=""/>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Logga in</button>

            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>

        </form><!-- /form -->
    </div><!-- /card-container -->
</div><!-- /container -->

</body>
</html>



<!--
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <fieldset>
    <div><label>Username:<input type="text" name="username"/> </label></div>
    <div><label>Password:<input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
    </fieldset>
</form>
-->
